<!-- Main Navigation Markup taken from the CI Boutique Ado Walkthrough Project -->
<div class="collapse navbar-collapse" id="main-nav">
    <!-- Navigation List -->
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Books Dropdown -->
        <li class="nav-item dropdown">
            <!-- Dropdown Trigger -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <!-- Dropdown Menu -->
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Books</a>
            </div>
        </li>

        <!-- Genre Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fiction-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genres
            </a>
            
            <div class="dropdown-menu border-0" aria-labelledby="fiction-link">
                <a href="{% url 'products' %}?category=Fiction" class="dropdown-item">Fiction</a>
                <a href="{% url 'products' %}?category=Science" class="dropdown-item">Science</a>
                <a href="{% url 'products' %}?category=History" class="dropdown-item">History</a>
                <a href="{% url 'products' %}?category=Biography" class="dropdown-item">Biography</a>
                <a href="{% url 'products' %}?category=Fiction,Non-fiction,Science,History" class="dropdown-item">All Books</a>
            </div>            
        </li>

        <!-- Non-Fiction Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non-Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-fiction-link">
                <a href="{% url 'products' %}?category=Biography" class="dropdown-item">Biography</a>
                <a href="{% url 'products' %}?category=Science" class="dropdown-item">Science</a>
                <a href="{% url 'products' %}?category=History" class="dropdown-item">History</a>
                <a href="{% url 'products' %}?category=Non-fiction,Science,History,Biography" class="dropdown-item">All Non-Fiction</a>
            </div>
        </li>

        <!-- Contact Us Link -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact_us' %}">
                Contact Us
            </a>
        </li>

        <!-- Home Link -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>
    </ul>
</div>
