<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fiction-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fiction-link">
                <a href="" class="dropdown-item">Fantasy</a>
                <a href="" class="dropdown-item">Mystery</a>
                <a href="" class="dropdown-item">Romance</a>
                <a href="" class="dropdown-item">All Fiction</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non-Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-fiction-link">
                <a href="" class="dropdown-item">Biography</a>
                <a href="" class="dropdown-item">Science</a>
                <a href="" class="dropdown-item">History</a>
                <a href="" class="dropdown-item">All Non-Fiction</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="special-collections-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-collections-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Best Sellers</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Collections</a>
            </div>
        </li>
    </ul>
</div>
