<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fiction-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="book-category-link">
                <a href="{% url 'products' %}?category=fiction" class="dropdown-item">Fiction</a>
                <a href="{% url 'products' %}?category=non-fiction" class="dropdown-item">Non-Fiction</a>
                <a href="{% url 'products' %}?category=science" class="dropdown-item">Science</a>
                <a href="{% url 'products' %}?category=history" class="dropdown-item">History</a>
                <a href="{% url 'products' %}?category=biography" class="dropdown-item">Biography</a>
                <a href="{% url 'products' %}?category=fiction,non-fiction,science,history" class="dropdown-item">All Books</a>
            </div>            
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non-Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-fiction-link">
                <a href="{% url 'products' %}?category=biography" class="dropdown-item">Biography</a>
                <a href="{% url 'products' %}?category=science" class="dropdown-item">Science</a>
                <a href="{% url 'products' %}?category=history" class="dropdown-item">History</a>
                <a href="" class="dropdown-item">All Non-Fiction</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="special-collections-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>            
        </li>
    </ul>
</div>
