{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Explore eChapter, your go-to online bookstore for a diverse range of books across genres. 
            From best-sellers to rare finds, enjoy World-wide, Shop now!">
        <meta name="keywords" content="Online bookstore, 
            Buy books online, Fiction books, Non-fiction books, 
            Where to buy affordable books online, High-quality books for sale online, Where to find Fiction books online, 
            Where to buy fiction and non-fiction novels online">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/da855886f2.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>eChapter: Online Bookstore for Diverse Reads{% block extra_title %}{% endblock %}</title>

  </head>
  <div class="d-flex flex-column min-vh-100">
    
    <header class="container-fluid fixed-top">
      <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
              <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <!-- <h2 class="logo-font text-black my-0">eChapter</h2> -->
                <h2 class="logo-font text-black my-0">
                    <span class="logo-icon"><i class="fas fa-book"></i></span>
                    <span class="logo-text">eChapter</span>
                  </h2>
              </a>
          </div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
              <form method="GET" action="{% url 'products' %}">
                  <div class="input-group w-100">
                      <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                      <div class="input-group-append">
                          <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                              <span class="icon">
                                  <i class="fas fa-search"></i>
                              </span>
                          </button>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
              <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                  <li class="list-inline-item dropdown">
                      <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="text-center">
                              <div><i class="fas fa-user fa-lg"></i></div>
                              <p class="my-0">My Account</p>
                          </div>
                      </a>
                      <div class="dropdown-menu border-0" aria-labelledby="user-options">
                          {% if request.user.is_authenticated %}
                              {% if request.user.is_superuser %}
                                  <a href="{% url 'add_book' %}" class="dropdown-item">Product Management</a>
                              {% endif %}
                              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                          {% else %}
                              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                          {% endif %}
                      </div>
                  </li>
                  <li class="list-inline-item">
                      <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                          <div class="text-center">
                              <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                              <p class="my-0">
                                  {% if grand_total %}
                                      ${{ grand_total|floatformat:2 }}
                                  {% else %}
                                      $0.00
                                  {% endif %}
                              </p>
                          </div>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
    </div>
    <div id="delivery-banner" class="row text-center">
      <div class="col bg-black text-white">
          <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
      </div>            
  </div>
  </header>

  <div class="content flex-grow-1 mt-5">
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

{% block page_header %}
{% endblock %}


{% block content %}
{% endblock %}
</div>

<!-- Footer -->
<footer class="footer-container">
    <div class="container quotes-container content-container">
        <div class="row footer-content">
            <div class="col-6">
                <div class="social-links vertical-links">
                    <h3>Social</h3>
                    <p>Keep up to date with all our latest offers</p>
                    <a href="https://www.facebook.com/profile.php?id=61552008725698&sk=grid" target="_blank" class="footer-link">
                        <i class="fab fa-facebook-square"></i> Follow us on Facebook!
                    </a>
                    <a href="https://www.privacypolicygenerator.info/live.php?token=1CLlBOQNVnFzDRh4A9PEOCzNTV98DGpS" target="_blank" class="footer-link">
                        Privacy Policy
                    </a>
                </div>
            </div>
            
            <!-- Mailchimp-content -->
            <div class="col-6 mailchimp-content">
                <div id="mc_embed_shell">
                    <div id="mc_embed_signup">
                        <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=ddfefcbcd3813d9fbc55b017a&amp;id=e9b344c0a0&amp;f_id=00aed9e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <h2>Subscribe</h2>
                                <div class="email-button-container">
                                    <div class="mc-field-group email-div">
                                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                                        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                                    </div>
                                    <div class="button-div"> 
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</footer>



</div>

{% block postloadjs %}

    <!-- Toasts -->
    <script type="text/javascript">
    $('.toast').toast('show');
    </script>

    <!-- Mailchimp js -->
    <!-- <script type="text/javascript" src="{% static 'js/mailchimp.js' %}"></script> -->
     <!-- Manually Load Mailchimp -->
     <script type="text/javascript">
        $(document).ready(function() {
            $.getScript("{% static 'js/mailchimp.js' %}");
        });
    </script>
{% endblock %}

  </body>
</html>
