{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% for book in books %}
                    <div class="book-item">
                        <strong>Title:</strong> {{ book.title }} <br>
                        <strong>Author:</strong> 
                        {% if book.author %}
                            {{ book.author.name }}
                        {% else %}
                            N/A
                        {% endif %}
                        <br>
                        <strong>Price:</strong> ${{ book.price }}
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
