{% extends 'base.html' %}

{% block content %}
<style>
  body {
    background-image: none !important;
  }
</style>
  <!-- Add this line to remove the background image -->
  <div class="custom-bg">
    <div class="container mt-5">
      <!-- Adding a wrapper div -->
      <div style="padding-top: 100px;"> <!-- Adjust this padding as needed -->
        <h2>Contact Us</h2>
      </div>
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <!-- Assuming your form has fields like 'name', 'email', 'message' -->
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
          <label for="subject" class="form-label">Subject</label>
          <input type="text" class="form-control" id="subject" name="{{ form.subject.name }}" value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" name="{{ form.message.name }}">{{ form.message.value|default_if_none:'' }}</textarea>
        </div>
        <!-- <div class="text-left">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div> -->
        <div class="text-left">
          <button type="submit" class="btn btn-black btn-hover-effect">Submit</button>
        </div>        
      </form>
    </div>
  </div>
{% endblock %}
